header {
    background-color: #020E26;
    padding: .5em;
    text-align: center;
}


ul {
    
    padding-left: 20%;
    padding-right: 20%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

body {
    background-color: pink;
}


li {
    /*margin-left: 29%;*/
    margin-right: 1%;
    font-size: 15px;
    text-align: center;
    flex-grow: 1;
    background-color: #0B3640;
    color: white;
    text-decoration: none;
    border-radius: 3%;


}

nav {
    background-color: #020E26;
    margin-top: .2%;
    margin-bottom: .5%;
}

#nav2 li {
    margin-bottom: .2%;
}

nav li:hover {
    background: #F2C744;
    color: black;
}

#active {
    background-color: rgb(50, 184, 218);
}


.divContenedor {
    /*height: 70vh;*/
    background-color: white;
}

.relleno {
    /*background-color: blue;
    height: 50vh;*/
    height: 10vh;
}

footer {
    background-color: #020E26;
    text-align: center;
    color: white;
    padding: 0.5%;
    /*position: fixed;
    float: bottom;*/
    width: 100%;
    height: 50px;
}
#nav1 {
    display: none;
    margin-bottom: 0%;

}

#logo {
    width: 22%;
    /*height: 100%;*/
    font-stretch: extra-condensed;
}

.contenedor div {
    height: 250px;
    
}

  .CuadradoA{
    background-color: grey;
    grid-area: A;
    margin:2px;
  }
  .CuadradoB{
    background-color: red;
    grid-area: B;
    margin:2px;
  }
  .CuadradoC{
    background-color: orange;
    grid-area: C;
    margin:2px;
  }
  .CuadradoD{
    background-color: yellow;
    grid-area: D;
    margin:2px;
  }
  .RectanguloE{
    background-color: green;
    grid-area: E;
    margin:2px;
  }
  .RectanguloF{
    background-color: black;
    grid-area: F;
    margin:2px;
  }
  .RectanguloG{
    background-color: #020E26;
    grid-area: G;
    margin:2px;
  }
  
  
  #Map{
    background-color: #020E26;
    
  }
  
#apartado{
    background-color: #F2C744;
    color: white;
}

/*Media Query que cambia como se ve la pagian cuando la ponemos en una resolucion de 600x1079 Es decir modo TABLET*/
@media screen and (min-width: 600px) {
    #nav2 {
        display: none;

    }

    .divContenedor {
        display: flex;

    }
  

    #nav1{
        display: block;
        order: 2;
        flex-basis: 240px;
        flex-shrink: 0;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0%;
        
    }
    section{
        width: 100%;
    }

    #nav1 li {
        padding: 5%;
        margin-top: 4%;
        margin-left: 4%;
        margin-bottom: 4%;
        font-size: 23px;
        
        
    }
    #nav1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 95%;
    
    }

    .icono {
        height: 10vh;
        width: 10vw;
    }
    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 300px);
       /* grid-template-rows: repeat(10, 1fr);*/
        /*grid-template-rows: 70px 150px 150px 150px 150px 150px 150px 150px 150px 150px;*/
        grid-template-areas:
            "A B"
            "C D"
            "E E"
            "F F"
            "G G";
    }
}
@media screen and (min-width: 855px) {
  
    #nav1 {
        display: none;
    }
    #nav2 {
        display: block;
    }

   
    .contenedor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 300px);
        /*grid-template-rows: 70px 150px 150px 150px 150px 150px 150px 150px 150px 150px;*/
       grid-template-areas:
            "A B C D"
            "E E E E"
            "F F F F"
            "G G G G";
    }
    
}